@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Homanje", sans-serif;

}
.container{
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #cec7bf;
    gap: 5px;
    box-shadow: rgba(66, 60, 57, 0.09) 0px 2px 1px,
                rgba(66, 60, 57, 0.09) 0px 4px 2px, 
                rgba(66, 60, 57, 0.09) 0px 8px 4px, 
                rgba(66, 60, 57, 0.09) 0px 16px 8px, 
                rgba(66, 60, 57, 0.09) 0px 32px 16px;
}
.display{
    background-color: #fffbf5;
    height: 30px;
    width: 140px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
.row{
    display: flex;
    gap: 5px;
}
button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: none;
    font-family: "Homanje", sans-serif;
    
}
.tool{
    background-color: #deb887;
}

.operator{
 background-color: gray;
 color: antiquewhite;
}

#equals{
 background-color: brown;
 color: antiquewhite;
}

#clearAll{
 width: 65px;
 border-radius: 15px;
}
#decimal{
    background-color:black;
    color:antiquewhite;
}