@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Homanje", sans-serif;

}
.container{
    display: flex;
    border-radius: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    background-color: #cec7bf;
    gap: 1em;
    box-shadow: rgba(66, 60, 57, 0.09) 0px 2px 1px,
                rgba(66, 60, 57, 0.09) 0px 4px 2px, 
                rgba(66, 60, 57, 0.09) 0px 8px 4px, 
                rgba(66, 60, 57, 0.09) 0px 16px 8px, 
                rgba(66, 60, 57, 0.09) 0px 32px 16px;
    border: 0.5px solid #c0bcb9;
}
.display{
    background-color: #fffdfb;
    height: 2em;
    width: 9em;
    border-radius: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(129, 126, 122, 0.25) 0px 5px 10px -5px,
                rgba(139, 135, 131, 0.35) 0px 2px 6px 0px inset;
    font-size: 50px;
    font-weight: bold;
    color: rgb(54, 54, 54);
    margin-bottom: 20px;
    
}
.row{
    display: flex;
    gap: 1em;
}
button {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border-style: none;
    font-family: "Homanje", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -2px,
                rgba(129, 106, 89, 0.35) 0px -2px 6px 0px inset;
    font-size: 40px;
                
    
}
button:active{
      box-shadow: inset 0 4px 8px -4px rgba(53, 37, 24, 0.35);
}
.tool{
    background-color: #deb887;
    font-weight: 700;
    color: #fffdfb;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -2px,
                   rgba(121, 57, 8, 0.35) 0px -2px 6px 0px inset;
}

.operator{
 background-color: gray;
  font-weight: 700;
 color: #fffdfb;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -2px,
                rgba(19, 19, 19, 0.35) 0px -2px 6px 0px inset;
}

#equals{
 background-color: brown;
  font-weight: 700;
 color: #fffdfb;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -2px,
                rgba(43, 0, 0, 0.35) 0px -2px 6px 0px inset;
}

#clearAll{
 width: 5.25em;
 border-radius: 5em;
}
#decimal{
    font-weight: 700;
    background-color:rgb(54, 54, 54);
    color:#fffdfb;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -2px,
                   rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
}